body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    
    background: linear-gradient(to bottom, #7dacd6 5%, #f4faff 35%, #f4faff 100%);
    background-attachment: scroll;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fullpage {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.header-container {
    display: flex; 
    align-items: baseline;
    gap: 20px; 
}

.large-header-hey {
    font-weight: 310;
    font-size: 3.5em;
    background-image: linear-gradient(to bottom, #1B006B, #3C85B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.large-header-name {
    font-size: 3.5em;
    background-image: linear-gradient(to bottom, #48367D, #37a9ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.intro-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 40px; 
}

.intro-text {
    font-weight: 400;
    padding-left: 30px;
    flex-grow: 1;
    text-align: left;
    max-width: 650px;
    color: #8b8b8b;
    font-size: 1.7em;
    line-height: 1.4;
}

.profile-picture {
    flex-shrink: 0;
    height: 523px;
    width: 400px;
    border-radius: 30px;
    border: none;
    box-shadow: none;
}


#portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
    padding-left: 300px;
    width: calc(100% - 300px);
}

.portfolio-entry, .graphic-design-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.portfolio-header, .portfolio-web, .portfolio-graphic {
    font-weight: lighter;
    font-size: 4em;
    background-image: linear-gradient(to bottom, #1B006B, #3C85B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-left: 0;
    padding-left: 0;
}

.portfolio-web, .portfolio-graphic { 
    font-size: 2.5em;
}

.portfolio-entry img, .moncelour-section a, .architecture-section img {
    height: auto; 
    border-radius: 20px; 
}

#myImgLink-securevault {
    max-width: 60%;
}


.moncelour-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.moncelour-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; 
    max-width: 40%;
}

.moncelour-header {
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: auto;
    margin-top: 0;
}

.moncelour-text {
    color: #707f9ca6;
    font-size: 2.4vh;
}

#myImgLink-moncelour {
    max-width: 10vw;
}


.architecture-section {
    display: flex; 
    align-items: center;
    padding: 0;
    margin-top: 10%;
    margin-left: 15%;
}

.architecture-section-text {
    padding-right: 20px; 
    max-width: 57%;
}

.architecture-header {
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: auto;
    margin-top: 0;
    text-align: right;
}

.architecture-text {
    color: #707f9ca6;
    text-align: right;
    font-size: 2.4vh;
}

#myImgLink-architecture {
    max-width: 40%;
    height: auto;
}

#see-more {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

#introduction-section {
    display: block;
}

#greeting-section {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
}

#portfolio-section {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social-section {
    align-self: flex-start;
    padding-left: 295px;
    font-size: 4em;
    font-weight: 10;
    background-image: linear-gradient(to bottom, #1B006B, #3C85B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
}

.social-section-entry {
    display: flex;
    margin-left: -390px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.social-section-linkedin .social-section-github {
    font-size: medium;
}

.social-section-email { 
    margin-top: -17px;
}

.social-section-email-address {
    color:#626262;
    cursor: pointer;
}

.social-section-email-address:hover {
    color:#74a6d8;
    text-shadow:-5px 2px 3px #7fe3ff, 5px -2px 3px #ff76f9c9;
    text-align:center;
}


.email-copy-notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 100%;
    background-color: #f8f8f8;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.modal-securevault {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -90px;
    top: 0;
    width: 110%;
    height: 100%;
    background: rgba(128, 128, 128, 0.7);
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.modal-content-securevault {
    background: linear-gradient(to bottom, #7dacd6 0%, #8db4d5 30%, #F0F9FF 70%, #F0F9FF 100%);
    padding: 20px;    
    border: 1px solid #888;
    width: 70%;
    height: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.modal-architecture {
    display: flex;
    opacity: 0; 
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear, transform 0.25s linear;
    transform: scale(1); 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background: linear-gradient(to bottom, #75444acb 0%, #741a1acb 30%, #923535c7 70%, #790000b0 100%);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-content-architecture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}

.modal-architecture.active {
    opacity: 1;
    visibility: visible; 
    transition-delay: 0s;
}

.modal-content-architecture img {
    width: calc(33.333% - 0px);
    max-width: 20%;
    max-height: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
    flex: 0 0 auto;
    align-items: center;
    object-fit: contain; 
    transition: transform 0.3s ease;
    cursor: zoom-in; 
}

.zoomed-in {
    transform: scale(2);
    transform-origin: center;
    z-index: 1010; 
    cursor: zoom-out;
    transition: transform 0.3s ease;
}



.close {
    color: #775ec4cb;
    float: right;
    position: absolute;
    font-size: 60px;
    font-weight: light;
    right: 0.5em;
    top: 0.5em;
    z-index: 1011;
}

.close:hover, .close:focus {
    color: #3d8bb8d5;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-securevault h2 {
    text-align: center;
    margin-top: 0;
    background-image: linear-gradient(to bottom, #765fb9, #3d8bb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 300;
    font-size: 3em;
}

.fade-in-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 1.5s ease-out;
    will-change: opacity, transform;
}

.fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 768px) {
    .portfolio-header, .portfolio-web, .portfolio-graphic {
        font-size: 5vw;
    }

    .graphic-design-section {
        flex-direction: column;
    }

    #myImgLink-moncelour {
        max-width: 50%; 
    }

    .moncelour-section {
        flex-direction: column;
    }
}

.modal-content-architecture img:hover {
    transform: scale(1.1);
    z-index: 10;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-content-architecture img.zoom-in {
    transform: scale(2);
    z-index: 20;
    cursor: zoom-out;
    transition: transform 0.3s ease;
}